# 1. Import Dependencies

In [73]:
import pandas as pd
from deep_translator import (GoogleTranslator,
                             PonsTranslator,
                             LingueeTranslator,
                             MyMemoryTranslator,
                             YandexTranslator,
                             DeeplTranslator,
                             QcriTranslator,
                             single_detection,
                             batch_detection)

In [74]:
df = pd.read_csv("/Volumes/Research/UNH/untitled folder/DSCI6011-FinalProject/data/urdu_corpus_2.csv", index_col=False)

In [75]:
df.shape

(8341, 2)

In [76]:
df['digital_urdu'][149]

nan

In [77]:
df["digital_urdu"].isna().sum()

np.int64(30)

In [78]:
df = df.dropna()

In [79]:
df = df.reset_index()

In [80]:
df['digital_urdu'][149]

'میں سے خصوصاً مندرجہ ذیل قابل ذکر ہیں:۔'

In [81]:
df["digital_urdu"].isnull().sum()

np.int64(0)

In [82]:
df.shape

(8311, 3)

In [83]:
df["english"] = 1

In [ ]:
for i in range(3060, df.shape[0]):
    input_string = df['digital_urdu'][i]
    output_string = GoogleTranslator(source='auto', target='english').translate(input_string)
    # lst.append()
    if i % 100 == 0:
        print(i)
    df["english"][i] = output_string

/var/folders/gc/rnyhdgbn7p96rprc2x8694cc0000gn/T/ipykernel_26703/1850639094.py:7: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["english"][i] = output_string
/var/folders/gc/rnyhdgbn7p96rprc2x8694cc0000gn/T/ipykernel_26703/1850639094.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["english"][i] = output_string
/var/folders/gc/rnyhdgbn7p96rprc2x8694cc0000gn/T/ipykernel_26703/1850639094.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '"Shato Brian" was a member long ago. In the year 5281, "Kasi Mardi Ladin"' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df["english"][i] = output_string

3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500

In [47]:
df.head(10)

,index,file_path,digital_urdu,english
0,0,test/076_022_18.jpg,اندراج و تحریر شرعاً صرف مستحب اور پسندیدہ ہے ...,Recording and writing are only recommended and...
1,1,test/076_022_16.jpg,اور ہندوستان کی مسلم ریاستوں میں اس پر کم و بی...,And it is more or less implemented in the Musl...
2,2,test/076_022_15.jpg,بلکہ اس کے نزدیک وہ پسندیدہ اور مستحسن بھی ہے،...,"Rather, he is also beloved and desirable to hi..."
3,3,test/076_022_14.jpg,جہاں تک پہلی صورت کاتعلق ہے، شریعت اسلامیہ کی ...,"As far as the first case is concerned, it is n..."
4,4,test/076_022_13.jpg,ہے، اس لیے اس کولازمی طورپر جاری کردیاجائے، اس...,"Therefore, it must be released, it is called f..."
5,5,test/076_022_12.jpg,مقدمات سے نجات مل سکتی ہے، نکاح کے ثبوت اورک د...,"It can save you from lawsuits, and it would be..."
6,6,test/076_022_11.jpg,دوسرا پہلو یہ ہے کہ چونکہ اس اندراج میں بہت سی...,The other aspect is that since there are many ...
7,7,test/076_022_10.jpg,جس قدر لوگ اس پر عمل کریں اتنا ہی فائدہ ہے، اس...,"The more people follow it, the more it benefit..."
8,8,test/076_022_9.jpg,ایک تویہ کہ اس قسم کااندراج مفید ونافع ہے، اور...,"On the one hand, this type of entry is useful ..."
9,9,test/076_022_7.jpg,کے لیے غیر ضروری تسلیم کرتے ہوئے اس حیثیت سے ی...,"This issue can be discussed in this capacity, ..."

In [ ]:
# df.to_csv('/Volumes/Research/UNH/untitled folder/DSCI6011-FinalProject/data/urdu_english.csv', index=False)

In [66]:
df2 = df.__deepcopy__()

In [ ]:
# df2 = df2[0:3059]

In [68]:
df2.shape

(3059, 4)

In [69]:
df2.tail()

,index,file_path,digital_urdu,english
3054,3066,test/068_046_6.jpg,اپریل سنه ۱۸۳ ء میں ”یم۔دی۔لامارتین“ کاانتخاب ...,"In April 1833, the election of ""Y. de Lamartin..."
3055,3067,test/068_046_5.jpg,اگر ”برین جر“ نے مقابلہ سے انکار نه کیا ھوتاتو...,"If ""Brain Jar"" had not refused the competition..."
3056,3068,test/068_046_4.jpg,منتخب ہوجاتا۔,would be selected.
3057,3069,test/068_046_3.jpg,اگر ”برین جر“ نے مقابلہ سے انکار نہ کیا ھوتاتو...,"If ""Brainjar"" had not refused the competition,..."
3058,3070,test/068_046_2.jpg,بھی منتخب ھوگیااور سنہ ۱۸۲۸ ء میں ”ایم لبرون“ ...,"was also elected, and in 1828, ""M. Lebron"" was..."

In [ ]:
df2.to_csv('/Volumes/Research/UNH/untitled folder/DSCI6011-FinalProject/data/urdu_english2.csv', index=False)